<mat-toolbar color="primary">Poll listing</mat-toolbar>
<mat-accordion multi="true" *ngIf="polls.length > 0">
  <mat-expansion-panel class="postPanel" [expanded]="true" *ngFor="let poll of polls">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ poll.title }}</mat-panel-title>
      <mat-panel-description>{{ poll.description }}</mat-panel-description>
    </mat-expansion-panel-header>

    <hr />

    <div class="pollInfo">
      <div class="options">
        <!-- option labels with their corresponding vote counts -->
        <p><span class="optionText">Option A: </span>
          <span class="option">{{ poll.optionA }}</span> - <i>{{ poll.aVotes }} votes</i></p>
          
        <p><span class="optionText">Option B: </span>
          <span class="option">{{ poll.optionB }}</span> - <i>{{ poll.bVotes }} votes</i></p>
      </div>

      <!-- canvas for drawing the poll's bar chart to -->
      <canvas #statCanvas class="statCanvas"></canvas>
    </div>

    <mat-action-row>
      <!-- buttons to vote for option A or B -->
      <!-- calls the same function but passes different arguments to specify A or B -->
      <button mat-button (click)="onVote(poll._id, 'A')" color="accent">VOTE A</button>
      <button mat-button (click)="onVote(poll._id, 'B')" color="accent">VOTE B</button>
      <!-- button to delete this poll -->
      <button mat-button (click)="onDelete(poll._id)" color="warn">DELETE</button>
    </mat-action-row>
    
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="polls.length <= 0">No polls added yet!</p> 