<div id="summary">
  <!--loading message, if the polls haven't been loaded in yet -->
  <h3 *ngIf="polls == null; else pollsLoaded">Loading...</h3>

  <ng-template #pollsLoaded>
    <h3 *ngIf="polls.length == 0; else pollsToDisplay">No polls to display, please create some first.</h3>

    <ng-template #pollsToDisplay>
      <ul>
        <div *ngFor="let poll of polls">
          <li>
            <!-- Picks the appropriate win text to display for this poll -->
            <!-- with a nested conditional operator...-->
            <h2>{{ poll.aVotes == poll.bVotes ? "\"" + poll.title + "\" (" + poll.optionA + " or " + poll.optionB + "): even votes, poll undecided." : (poll.aVotes > poll.bVotes ? poll.aWinText : poll.bWinText) }}</h2>
          </li>
        </div>
      </ul>
  
      <h2 id="total-votes">Total votes: {{ totalVotes }}</h2>
    </ng-template>
  </ng-template>
</div>