<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        placeholder="Poll title"
        minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title for your poll.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="description"
        ngModel
        placeholder="Poll description (optional)"

        #content="ngModel"></textarea>
      <!-- <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="1"
        name="optionA"
        ngModel
        required
        placeholder="Option A"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please specify option A.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="1"
        name="optionB"
        ngModel
        required
        placeholder="Option B"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please specify option B.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="1"
        name="aWinText"
        ngModel
        required
        placeholder="Option A win text"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please specify win text for option A.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="1"
        name="bWinText"
        ngModel
        required
        placeholder="Option B win text"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please specify win text for option B.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit">Create Poll</button>
  </form>
</mat-card>
